<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.OsRuPrevMapper" >
  <resultMap id="BaseResultMap" type="workflow.po.OsRuPrevPO" >
    <constructor >
      <idArg column="ID_" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="PROC_INST_ID_" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STEP_INST_ID_" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STEP_ID_" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LAST_STEP_ID_" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="START_STEP_ID_" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME_" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME_" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="SYS_CODE_" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID_, PROC_INST_ID_, STEP_INST_ID_, STEP_ID_, LAST_STEP_ID_, START_STEP_ID_, CREATE_TIME_, 
    UPDATE_TIME_, SYS_CODE_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OS_RU_PREV
    where ID_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OS_RU_PREV
    where ID_ = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="po.OsRuPrevPO" >
    insert into OS_RU_PREV (ID_, PROC_INST_ID_, STEP_INST_ID_, 
      STEP_ID_, LAST_STEP_ID_, START_STEP_ID_, 
      CREATE_TIME_, UPDATE_TIME_, SYS_CODE_
      )
    values (#{id,jdbcType=BIGINT}, #{procInstId,jdbcType=VARCHAR}, #{stepInstId,jdbcType=VARCHAR}, 
      #{stepId,jdbcType=VARCHAR}, #{lastStepId,jdbcType=VARCHAR}, #{startStepId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{sysCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.OsRuPrevPO" >
    insert into OS_RU_PREV
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID_,
      </if>
      <if test="stepInstId != null" >
        STEP_INST_ID_,
      </if>
      <if test="stepId != null" >
        STEP_ID_,
      </if>
      <if test="lastStepId != null" >
        LAST_STEP_ID_,
      </if>
      <if test="startStepId != null" >
        START_STEP_ID_,
      </if>
      <if test="createTime != null" >
        CREATE_TIME_,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME_,
      </if>
      <if test="sysCode != null" >
        SYS_CODE_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="procInstId != null" >
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="stepInstId != null" >
        #{stepInstId,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null" >
        #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="lastStepId != null" >
        #{lastStepId,jdbcType=VARCHAR},
      </if>
      <if test="startStepId != null" >
        #{startStepId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.OsRuPrevPO" >
    update OS_RU_PREV
    <set >
      <if test="procInstId != null" >
        PROC_INST_ID_ = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="stepInstId != null" >
        STEP_INST_ID_ = #{stepInstId,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null" >
        STEP_ID_ = #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="lastStepId != null" >
        LAST_STEP_ID_ = #{lastStepId,jdbcType=VARCHAR},
      </if>
      <if test="startStepId != null" >
        START_STEP_ID_ = #{startStepId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME_ = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCode != null" >
        SYS_CODE_ = #{sysCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.OsRuPrevPO" >
    update OS_RU_PREV
    set PROC_INST_ID_ = #{procInstId,jdbcType=VARCHAR},
      STEP_INST_ID_ = #{stepInstId,jdbcType=VARCHAR},
      STEP_ID_ = #{stepId,jdbcType=VARCHAR},
      LAST_STEP_ID_ = #{lastStepId,jdbcType=VARCHAR},
      START_STEP_ID_ = #{startStepId,jdbcType=VARCHAR},
      CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME_ = #{updateTime,jdbcType=TIMESTAMP},
      SYS_CODE_ = #{sysCode,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=BIGINT}
  </update>
</mapper>